openapi: 3.1.0
info:
  title: Umbrella NMS REST API - Alarm & Inventory Management
  version: 1.0.0
  description: >
    REST API for Umbrella NMS (alarms, correlation and input rules, inventory, IAM).
    Security: JWT Bearer. Most endpoints require authentication.
servers:
  - url: https://umbrella-nms.com/api/v1
    description: Example API Specification

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Users
  - name: Roles
  - name: Permissions
  - name: InventoryItems
  - name: Sources
  - name: Alarms
  - name: AlarmComments
  - name: InputRules
  - name: CorrelationRules

paths:
  # -------------------------
  # AUTH
  # -------------------------
  /auth/login:
    post:
      tags: [Auth]
      security: []
      summary: Authenticate user and obtain JWT tokens
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/refresh:
    post:
      tags: [Auth]
      security: []
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: New access token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout (invalidate refresh token)
      operationId: logout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
      responses:
        "204":
          description: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"

  # -------------------------
  # USERS
  # -------------------------
  /users:
    get:
      tags: [Users]
      summary: List users
      operationId: listUsers
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserBase"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Users]
      summary: Create user
      operationId: createUser
      description: Creates a new user. `id`, `createdAt` and `modifiedAt` are generated by the backend. Password is encrypted by the backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreateRequest"
      responses:
        "200":
          description: User created
          headers:
            Location:
              schema:
                type: string
              description: URI of created user resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /users/{userId}:
    get:
      tags: [Users]
      summary: Get user by id
      operationId: getUser
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: User details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Users]
      summary: Update user (partially)
      operationId: updateUser
      parameters:
        - $ref: "#/components/parameters/userId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: User data updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [Users]
      summary: Delete user
      operationId: deleteUser
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "204":
          description: User deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Cannot delete due to references / constraints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/{userId}/roles:
    get:
      tags: [Users, Roles]
      summary: List roles assigned to a user
      operationId: listUserRoles
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: Role list for user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [Users, Roles]
      summary: Replace roles assigned to a user
      description: Sets user roles to exactly the given list
      operationId: replaceUserRoles
      parameters:
        - $ref: "#/components/parameters/userId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
              description: List of role IDs to assign to the user
      responses:
        "200":
          description: Roles for user updated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # -------------------------
  # ROLES / PERMISSIONS
  # -------------------------
  /roles:
    get:
      tags: [Roles]
      summary: List roles
      operationId: listRoles
      responses:
        "200":
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Roles]
      summary: Create role
      operationId: createRole
      description: Creates a new role. `id`, `createdAt` and `modifiedAt` are generated by the backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleCreate"
      responses:
        "200":
          description: Role created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"

  /roles/{roleId}:
    get:
      tags: [Roles]
      summary: Get role
      operationId: getRole
      parameters:
        - $ref: "#/components/parameters/roleId"
      responses:
        "200":
          description: Role details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [Roles]
      summary: Update role
      operationId: updateRole
      description: Updates an existing role. `modifiedAt` is set automatically by the backend
      parameters:
        - $ref: "#/components/parameters/roleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleUpdate"
      responses:
        "200":
          description: Role updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [Roles]
      summary: Delete role
      operationId: deleteRole
      parameters:
        - $ref: "#/components/parameters/roleId"
      responses:
        "204":
          description: Role deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Cannot delete due to references / constraints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /roles/{roleId}/permissions:
    get:
      tags: [Roles, Permissions]
      summary: List permissions assigned to a role
      operationId: listRolePermissions
      parameters:
        - $ref: "#/components/parameters/roleId"
      responses:
        "200":
          description: Permission list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Permission"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [Roles, Permissions]
      summary: Replace permissions assigned to a role
      operationId: replaceRolePermissions
      parameters:
        - $ref: "#/components/parameters/roleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Permission"
      responses:
        "200":
          description: Updated permissions list for role
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /permissions:
    get:
      tags: [Permissions]
      summary: List permissions
      operationId: listPermissions
      description: Returns all permissions. Permissions are predefined and cannot be created via API
      responses:
        "200":
          description: List of permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Permission"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /permissions/{permissionId}:
    get:
      tags: [Permissions]
      summary: Get permission
      operationId: getPermission
      parameters:
        - $ref: "#/components/parameters/permissionId"
      responses:
        "200":
          description: Permission details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Permission"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [Permissions]
      summary: Update permission description
      operationId: updatePermissionDescription
      description: Updates only the description of a permission
      parameters:
        - $ref: "#/components/parameters/permissionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  maxLength: 256
              required:
                - description
      responses:
        "200":
          description: Permission updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Permission"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # -------------------------
  # INVENTORY ITEMS
  # -------------------------
  /inventory-items:
    get:
      tags: [InventoryItems]
      summary: List inventory items
      operationId: listInventoryItems
      description: Returns a list of inventory items
      parameters:
        - name: sourceId
          in: query
          schema:
            type: integer
          description: Filter by source identifier
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/InventoryItemStatus"
          description: Filter by inventory item status
      responses:
        "200":
          description: List of inventory items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InventoryItemResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [InventoryItems]
      summary: Create inventory item
      operationId: createInventoryItem
      description: Creates a new inventory item. The `id`, `createdAt` and `modifiedAt` are generated by the backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryItemCreate"
      responses:
        "200":
          description: Inventory item created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /inventory-items/{inventoryItemId}:
    get:
      tags: [InventoryItems]
      summary: Get inventory item
      operationId: getInventoryItem
      parameters:
        - $ref: "#/components/parameters/inventoryItemId"
      responses:
        "200":
          description: Inventory item details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItemResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [InventoryItems]
      summary: Update inventory item
      operationId: updateInventoryItem
      description: Updates an existing inventory item. `modifiedAt` is set automatically by the backend
      parameters:
        - $ref: "#/components/parameters/inventoryItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryItemUpdate"
      responses:
        "200":
          description: Inventory item updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [InventoryItems]
      summary: Delete inventory item
      operationId: deleteInventoryItem
      parameters:
        - $ref: "#/components/parameters/inventoryItemId"
      responses:
        "204":
          description: Inventory item deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # -------------------------
  # SOURCES
  # -------------------------
  /sources:
    get:
      tags: [Sources]
      summary: List sources
      operationId: listSources
      responses:
        "200":
          description: List of sources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SourceResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Sources]
      summary: Create source
      operationId: createSource
      description: Creates a new source. `id`, `createdAt` and `modifiedAt` are generated by the backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceCreate"
      responses:
        "200":
          description: Source created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /sources/{sourceId}:
    get:
      tags: [Sources]
      summary: Get source
      operationId: getSource
      parameters:
        - $ref: "#/components/parameters/sourceId"
      responses:
        "200":
          description: Source details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [Sources]
      summary: Update source
      operationId: updateSource
      description: Updates an existing source. `modifiedAt` is set automatically by the backend
      parameters:
        - $ref: "#/components/parameters/sourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceUpdate"
      responses:
        "200":
          description: Source updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [Sources]
      summary: Delete source
      operationId: deleteSource
      parameters:
        - $ref: "#/components/parameters/sourceId"
      responses:
        "204":
          description: Source deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # -------------------------
  # ALARMS
  # -------------------------
  /alarms:
    get:
      tags: [Alarms]
      summary: List alarms
      operationId: listAlarms
      responses:
        "200":
          description: List of alarms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlarmResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Alarms]
      summary: Create alarm
      operationId: createAlarm
      description: Creates a new alarm. `id`, `createdAt` and `modifiedAt` are generated by the backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlarmCreate"
      responses:
        "200":
          description: Alarm created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /alarms/{alarmId}:
    get:
      tags: [Alarms]
      summary: Get alarm
      operationId: getAlarm
      parameters:
        - $ref: "#/components/parameters/alarmId"
      responses:
        "200":
          description: Alarm details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [Alarms]
      summary: Update alarm
      operationId: updateAlarm
      description: Updates an existing alarm. `modifiedAt` is set automatically by the backend
      parameters:
        - $ref: "#/components/parameters/alarmId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlarmUpdate"
      responses:
        "200":
          description: Alarm updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [Alarms]
      summary: Delete alarm
      operationId: deleteAlarm
      parameters:
        - $ref: "#/components/parameters/alarmId"
      responses:
        "204":
          description: Alarm deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # -------------------------
  # ALARM COMMENTS
  # -------------------------
  /alarms/{alarmId}/comments:
    get:
      tags: [Alarms, AlarmComments]
      summary: List comments for alarm
      operationId: listAlarmComments
      parameters:
        - $ref: "#/components/parameters/alarmId"
      responses:
        "200":
          description: List of comments for the alarm
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlarmCommentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags: [Alarms, AlarmComments]
      summary: Add comment to alarm
      operationId: addCommentAlarm
      description: Creates a new comment for the given alarm
      parameters:
        - $ref: "#/components/parameters/alarmId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlarmCommentCreate"
      responses:
        "200":
          description: Comment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmCommentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /alarm-comments/{alarmCommentId}:
    get:
      tags: [AlarmComments]
      summary: Get alarm comment
      operationId: getAlarmComment
      parameters:
        - $ref: "#/components/parameters/alarmCommentId"
      responses:
        "200":
          description: Alarm comment details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmCommentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [AlarmComments]
      summary: Update alarm comment
      operationId: updateAlarmComment
      description: Updates an existing alarm comment. `modifiedAt` is set automatically by the backend
      parameters:
        - $ref: "#/components/parameters/alarmCommentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlarmCommentUpdate"
      responses:
        "200":
          description: Alarm comment updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmCommentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [AlarmComments]
      summary: Delete alarm comment
      parameters:
        - $ref: "#/components/parameters/alarmCommentId"
      responses:
        "204":
          description: Alarm comment deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # -------------------------
  # INPUT RULES
  # -------------------------
  /input-rules:
    get:
      tags: [InputRules]
      summary: List input rules
      operationId: listInputRules
      responses:
        "200":
          description: List of input rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InputRuleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [InputRules]
      summary: Create input rule
      operationId: createInputRule
      description: Creates a new input rule. `id`, `createdAt` and `modifiedAt` are generated by the backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InputRuleCreate"
      responses:
        "200":
          description: Input rule created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InputRuleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /input-rules/{inputRuleId}:
    get:
      tags: [InputRules]
      summary: Get input rule
      operationId: getInputRule
      parameters:
        - $ref: "#/components/parameters/inputRuleId"
      responses:
        "200":
          description: Input rule details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InputRuleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [InputRules]
      summary: Update input rule
      operationId: updateInputRule
      description: Updates an existing input rule. `modifiedAt` is set automatically by the backend
      parameters:
        - $ref: "#/components/parameters/inputRuleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InputRuleUpdate"
      responses:
        "200":
          description: Input rule updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InputRuleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [InputRules]
      summary: Delete input rule
      operationId: deleteInputRule
      parameters:
        - $ref: "#/components/parameters/inputRuleId"
      responses:
        "204":
          description: Input rule deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # -------------------------
  # CORRELATION RULES
  # -------------------------
  /correlation-rules:
    get:
      tags: [CorrelationRules]
      summary: List correlation rules
      operationId: listCorrelationRules
      responses:
        "200":
          description: List of correlation rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CorrelationRuleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [CorrelationRules]
      summary: Create correlation rule
      operationId: createCorrelationRule
      description: Creates a new correlation rule. `id`, `createdAt` and `modifiedAt` are generated by the backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CorrelationRuleCreate"
      responses:
        "200":
          description: Correlation rule created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorrelationRuleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /correlation-rules/{correlationRuleId}:
    get:
      tags: [CorrelationRules]
      summary: Get correlation rule
      operationId: getCorrelationRule
      parameters:
        - $ref: "#/components/parameters/correlationRuleId"
      responses:
        "200":
          description: Correlation rule details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorrelationRuleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      tags: [CorrelationRules]
      summary: Update correlation rule
      operationId: updateCorrelationRule
      description: Updates an existing correlation rule. `modifiedAt` is set automatically by the backend
      parameters:
        - $ref: "#/components/parameters/correlationRuleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CorrelationRuleUpdate"
      responses:
        "200":
          description: Correlation rule updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorrelationRuleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    delete:
      tags: [CorrelationRules]
      summary: Delete correlation rule
      operationId: deleteCorrelationRule
      parameters:
        - $ref: "#/components/parameters/correlationRuleId"
      responses:
        "204":
          description: Correlation rule deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    userId:
      in: path
      name: userId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    roleId:
      in: path
      name: roleId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    permissionId:
      in: path
      name: permissionId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    sourceId:
      in: path
      name: sourceId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    inventoryItemId:
      in: path
      name: inventoryItemId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    alarmId:
      in: path
      name: alarmId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    alarmCommentId:
      in: path
      name: alarmCommentId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    inputRuleId:
      in: path
      name: inputRuleId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

    correlationRuleId:
      in: path
      name: correlationRuleId
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1

  responses:
    BadRequest:
      description: Bad request / validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Conflict:
      description: Conflict (e.g., unique constraint)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    # -------------------------
    # COMMON
    # -------------------------
    ErrorResponse:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
          maxLength: 64
          examples:
            - "VALIDATION_ERROR"
        message:
          type: string
          maxLength: 2000
        details:
          type: array
          items:
            $ref: "#/components/schemas/ErrorDetail"
      required:
        - code
        - message

    ErrorDetail:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
          maxLength: 256
        issue:
          type: string
          maxLength: 512
      required:
        - issue

    # -------------------------
    # AUTH
    # -------------------------
    LoginRequest:
      type: object
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
          maxLength: 1024
      required:
        - email
        - password

    LoginResponse:
      type: object
      additionalProperties: false
      properties:
        accessToken:
          type: string
          minLength: 20
        refreshToken:
          type: string
          minLength: 20
        expiresInSeconds:
          type: integer
          minimum: 1
        user:
          $ref: "#/components/schemas/UserResponse"
      required:
        - accessToken
        - refreshToken
        - expiresInSeconds
        - user

    RefreshTokenRequest:
      type: object
      additionalProperties: false
      properties:
        refreshToken:
          type: string
          minLength: 20
      required:
        - refreshToken

    RefreshTokenResponse:
      type: object
      additionalProperties: false
      properties:
        accessToken:
          type: string
          minLength: 20
        expiresInSeconds:
          type: integer
          minimum: 1
      required:
        - accessToken
        - expiresInSeconds

    LogoutRequest:
      type: object
      additionalProperties: false
      properties:
        refreshToken:
          type: string
          minLength: 20
      required:
        - refreshToken

    # -------------------------
    # USER (REQUESTS / RESPONSES)
    # -------------------------
    UserBase:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          maxLength: 256
        surname:
          type: string
          maxLength: 256
        username:
          type: string
          maxLength: 256
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: "^\\+?[0-9]{6,20}$"
      required:
        - name
        - surname
        - username
        - email
        - phone

    UserCreateRequest:
      allOf:
        - $ref: "#/components/schemas/UserBase"
        - type: object
          additionalProperties: false
          properties:
            password:
              type: string
              writeOnly: true
              minLength: 8
              maxLength: 1024
          required:
            - password

    UserUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          maxLength: 256
        surname:
          type: string
          maxLength: 256
        username:
          type: string
          maxLength: 256
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: "^\\+?[0-9]{6,20}$"
        password:
          type: string
          writeOnly: true
          minLength: 8
          maxLength: 1024

    UserResponse:
      allOf:
        - $ref: "#/components/schemas/UserBase"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents a system user (response DTO). Password is never returned

    # -------------------------
    # ROLE / PERMISSION
    # -------------------------
    Role:
      type: object
      description: Represents a role that can be assigned to users
      properties:
        name:
          type: string
          maxLength: 256
          description: Unique name of the role
        description:
          type: string
          maxLength: 256
          description: Description of the role
        createdBy:
          type: string
          maxLength: 256
          description: Username who created the role
        modifiedBy:
          type: string
          maxLength: 256
          description: Username who last modified the role
      required:
        - name

    RoleCreate:
      allOf:
        - $ref: "#/components/schemas/Role"
        - type: object
          description: Payload for creating a role
          required:
            - name
            - createdBy

    RoleUpdate:
      allOf:
        - $ref: "#/components/schemas/Role"
        - type: object
          description: Payload for updating a role
          required:
            - modifiedBy

    RoleResponse:
      allOf:
        - $ref: "#/components/schemas/Role"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents a system role (response DTO)

    Permission:
      type: object
      description: Represents a permission that can be assigned to roles
      properties:
        id:
          type: integer
          format: int64
          description: Auto-incremented identifier generated by the database
        name:
          type: string
          maxLength: 256
          description: Unique name of the permission
        description:
          type: string
          maxLength: 256
          description: Description of the permission
      required:
        - name

    # -------------------------
    # ENUMS
    # -------------------------
    InventoryItemClass:
      type: string
      description: Logical class of the inventory item
      enum:
        - CorbaObject
        - HttpObject
        - RestObject
        - SnmpObject
        - UmbrellaObject

    InventoryItemType:
      type: string
      description: Type of inventory item. Additional values represent typical telecom / network objects
      enum:
        - baseStation
        - device
        - radioLine
        - controller
        - router
        - switch
        - dataCenter
        - transmissionHub
        - other
      default: other

    InventoryItemStatus:
      type: string
      description: Lifecycle status of the inventory item
      enum:
        - designed
        - new
        - deactivated
        - closed
      default: designed

    SourceType:
      type: string
      description: Type of integration source
      enum:
        - corba
        - http
        - rest
        - snmp
        - other
      default: other

    AlarmClass:
      type: string
      description: Logical class of the alarm
      enum:
        - CorbaAlarm
        - HeartbeatAlarm
        - HttpAlarm
        - RestAlarm
        - SnmpAlarm
        - UmbrellaAlarm

    AlarmStatus:
      type: string
      description: Current status of the alarm
      enum:
        - active
        - deferred
        - escalated
        - acknowledged
        - cleared
      default: active

    OperationalTeam:
      type: string
      description: Operational team responsible for handling the alarm
      enum:
        - easternNocTeam
        - westernNocTeam
        - northernNocTeam
        - southernNocTeam
        - centralNocTeam
        - other
      default: other

    AlarmAction:
      type: string
      description: Action to be performed on alarms (for example by input rules)
      enum:
        - acknowledge
        - unacknowledge
        - escalate
        - unescalate
        - defer
        - undefer
        - clear
        - sendEmail
        - sendSms

    CorrelationAlarmAction:
      type: string
      description: Action to be performed on alarms, including correlation actions
      enum:
        - acknowledge
        - unacknowledge
        - escalate
        - unescalate
        - defer
        - undefer
        - clear
        - sendEmail
        - sendSms
        - correlate
        - uncorrelate

    # -------------------------
    # INVENTORY ITEM
    # -------------------------
    InventoryItem:
      type: object
      description: Represents a managed inventory object in the system
      properties:
        name:
          type: string
          maxLength: 256
          description: Unique name of the inventory item
        class:
          $ref: "#/components/schemas/InventoryItemClass"
        type:
          $ref: "#/components/schemas/InventoryItemType"
        details:
          type: string
          maxLength: 3000
          description: Free-form description or technical details
        latitude:
          type: number
          format: double
          description: Geographic latitude of the inventory item
        longitude:
          type: number
          format: double
          description: Geographic longitude of the inventory item
        location:
          type: string
          maxLength: 500
          description: Human-readable address or location description
        status:
          $ref: "#/components/schemas/InventoryItemStatus"
        parentInventoryItem:
          type: integer
          format: int64
          description: Identifier of the parent inventory item, if any
        sourceId:
          type: integer
          format: int64
          description: Identifier of the source from which this item originates
        createdBy:
          type: string
          maxLength: 256
          description: Username who created the item
        modifiedBy:
          type: string
          maxLength: 256
          description: Username who last modified the item
      required:
        - name
        - sourceId

    InventoryItemCreate:
      allOf:
        - $ref: "#/components/schemas/InventoryItem"
        - type: object
          description: Payload for creating an inventory item
          required:
            - name
            - sourceId
            - createdBy

    InventoryItemUpdate:
      allOf:
        - $ref: "#/components/schemas/InventoryItem"
        - type: object
          description: Payload for updating an inventory item
          required:
            - modifiedBy

    InventoryItemResponse:
      allOf:
        - $ref: "#/components/schemas/InventoryItem"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents a system inventory item (response DTO)

    # -------------------------
    # SOURCE
    # -------------------------
    Source:
      type: object
      description: Represents a data source that provides alarms or inventory information
      properties:
        name:
          type: string
          maxLength: 256
          description: Unique name of the source
        configurationFile:
          type: string
          maxLength: 3000
          description: Path to the configuration file
        mappingScript:
          type: string
          maxLength: 3000
          description: Path to the mapping script file
        enabled:
          type: boolean
          default: true
          description: Indicates whether the source is enabled
        createdBy:
          type: string
          maxLength: 256
          description: Username who created the source
        modifiedBy:
          type: string
          maxLength: 256
          description: Username who last modified the source
        type:
          $ref: "#/components/schemas/SourceType"
        endpoint:
          type: string
          maxLength: 500
          description: Endpoint used by the source to receive or fetch alarms
      required:
        - name

    SourceCreate:
      allOf:
        - $ref: "#/components/schemas/Source"
        - type: object
          description: Payload for creating a source.
          required:
            - name
            - configurationFile
            - mappingScript
            - endpoint

    SourceUpdate:
      allOf:
        - $ref: "#/components/schemas/Source"
        - type: object
          description: Payload for updating a source.
          required:
            - configurationFile
            - mappingScript
            - endpoint

    SourceResponse:
      allOf:
        - $ref: "#/components/schemas/Source"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents a system source (response DTO)

    # -------------------------
    # ALARM
    # -------------------------
    Alarm:
      type: object
      description: Represents an alarm raised by a source or system
      properties:
        name:
          type: string
          maxLength: 256
          description: Unique name of the alarm
        class:
          $ref: "#/components/schemas/AlarmClass"
        details:
          type: string
          maxLength: 3000
          description: Free-form description or additional details
        severity:
          type: integer
          format: int64
          description: "Severity code: 3 - high, 2 - medium, 1 - low, other values - undefined"
        status:
          $ref: "#/components/schemas/AlarmStatus"
        slaTime:
          type: integer
          format: int64
          description: SLA time in seconds. Optional
        inventoryItemId:
          type: integer
          format: int64
          description: Identifier of the related inventory item, if any
        parentAlarmId:
          type: integer
          format: int64
          description: Identifier of the parent alarm, if any
        sourceId:
          type: integer
          format: int64
          description: Identifier of the source that generated the alarm
        operationalTeam:
          $ref: "#/components/schemas/OperationalTeam"
        createdBy:
          type: string
          maxLength: 256
          description: Username or source name who created the alarm
        modifiedBy:
          type: string
          maxLength: 256
          description: Username or source name who last modified the alarm
        clearedAt:
          type: string
          format: date-time
          description: Timestamp when the alarm was cleared (set by backend)
      required:
        - name
        - sourceId

    AlarmCreate:
      allOf:
        - $ref: "#/components/schemas/Alarm"
        - type: object
          description: Payload for creating an alarm
          required:
            - name
            - sourceId
            - createdBy

    AlarmUpdate:
      allOf:
        - $ref: "#/components/schemas/Alarm"
        - type: object
          description: Payload for updating an alarm
          required:
            - modifiedBy

    AlarmResponse:
      allOf:
        - $ref: "#/components/schemas/Alarm"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents an alarm (response DTO)

    # -------------------------
    # ALARM COMMENT
    # -------------------------
    AlarmComment:
      type: object
      description: Represents a comment attached to an alarm
      properties:
        alarmId:
          type: integer
          format: int64
          description: Identifier of the parent alarm
        content:
          type: string
          maxLength: 3000
          description: Comment content
        createdBy:
          type: string
          maxLength: 256
          description: Username who created the comment
        modifiedBy:
          type: string
          maxLength: 256
          description: Username who last updated the comment
      required:
        - alarmId
        - content

    AlarmCommentCreate:
      allOf:
        - $ref: "#/components/schemas/AlarmComment"
        - type: object
          description: Payload for creating an alarm comment
          required:
            - alarmId
            - content
            - createdBy

    AlarmCommentUpdate:
      allOf:
        - $ref: "#/components/schemas/AlarmComment"
        - type: object
          description: Payload for updating an alarm comment
          required:
            - content
            - modifiedBy

    AlarmCommentResponse:
      allOf:
        - $ref: "#/components/schemas/AlarmComment"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents an alarm comment (response DTO)

    # -------------------------
    # INPUT RULE
    # -------------------------
    InputRule:
      type: object
      description: Rule that defines actions to be applied to alarms based on a query definition
      properties:
        alarmAction:
          $ref: "#/components/schemas/AlarmAction"
        alarmActionAttr:
          type: string
          description: Additional attribute for the action. Required when alarmAction is defer, sendEmail or sendSms
        createdBy:
          type: string
          maxLength: 256
          description: Username who created the rule
        modifiedBy:
          type: string
          maxLength: 256
          description: Username who last modified the rule
        definition:
          type: string
          description: JSON text storing the query that defines which alarms the rule applies to
        details:
          type: string
          maxLength: 3000
          description: Free-form description or additional details
        enabled:
          type: boolean
          default: true
          description: Indicates whether the rule is enabled
        name:
          type: string
          maxLength: 256
          description: Unique name of the rule
      required:
        - alarmAction
        - definition
        - name

    InputRuleCreate:
      allOf:
        - $ref: "#/components/schemas/InputRule"
        - type: object
          description: Payload for creating an input rule
          required:
            - alarmAction
            - definition
            - name
            - createdBy

    InputRuleUpdate:
      allOf:
        - $ref: "#/components/schemas/InputRule"
        - type: object
          description: Payload for updating an input rule
          required:
            - alarmAction
            - definition
            - name
            - modifiedBy

    InputRuleResponse:
      allOf:
        - $ref: "#/components/schemas/InputRuleResponse"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents an input rule (response DTO)

    # -------------------------
    # CORRELATION RULE
    # -------------------------
    CorrelationRule:
      type: object
      description: Rule that defines correlation or other actions to be applied to alarms based on a query definition
      properties:
        alarmAction:
          $ref: "#/components/schemas/CorrelationAlarmAction"
        alarmActionAttr:
          type: string
          description: Additional attribute for the action. Required when alarmAction is defer, sendEmail, sendSms, correlate or uncorrelate
        createdBy:
          type: string
          maxLength: 256
          description: Username who created the rule
        modifiedBy:
          type: string
          maxLength: 256
          description: Username who last modified the rule
        definition:
          type: string
          description: JSON text storing the query that defines which alarms the rule applies to
        details:
          type: string
          maxLength: 3000
          description: Free-form description or additional details
        enabled:
          type: boolean
          default: true
          description: Indicates whether the rule is enabled
        name:
          type: string
          maxLength: 256
          description: Unique name of the rule
      required:
        - alarmAction
        - definition
        - name

    CorrelationRuleCreate:
      allOf:
        - $ref: "#/components/schemas/CorrelationRule"
        - type: object
          description: Payload for creating a correlation rule.
          required:
            - alarmAction
            - definition
            - name
            - createdBy

    CorrelationRuleUpdate:
      allOf:
        - $ref: "#/components/schemas/CorrelationRule"
        - type: object
          description: Payload for updating a correlation rule.
          required:
            - alarmAction
            - definition
            - name
            - modifiedBy

    CorrelationRuleResponse:
      allOf:
        - $ref: "#/components/schemas/CorrelationRule"
        - type: object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int64
              readOnly: true
            createdAt:
              type: string
              format: date-time
              readOnly: true
            modifiedAt:
              type: string
              format: date-time
              readOnly: true
      description: Represents a system role (response DTO)
